
body, button, #submitButton, #textField {
    font-family: Comfortaa, ui-rounded
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
h1 {
    font-size: 75px;
}
h2 {
    font-size: 50px;
}
.center {
    text-align: center;
    margin: auto;
    width: 50%;
    height: 100%;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
}
.controlBar {
    background: lightgray;
    width: 98%;
    height: auto;
    padding: 1%;
}
.controlBar p {
    margin: 5px;
}
.controlBar button {
    padding-top: 10px;
    padding-bottom: 10px;
}
body {
    margin: 0px;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    background-color: lightgrey;
    padding: 10px;
    grid-gap: 10px;
}
button #startQuizButton {
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
}

button, #submitButton {
    background-color: #95c2f5;
    border: solid #5f86d9 1px;
    color: white;
    border-radius: 8px;
    padding: 20px;
    font-size: 20px;
    transition-duration:0.2s;
    box-shadow: 0 9px #5f86d9;
    margin-bottom: 9px;
}

button:hover, #submitButton:hover {
    background-color: #7eaeed;
    box-shadow: 0 9px #4e73cf;
}

button:active, #submitButton:active {
    box-shadow: 0 5px #325abf;
    transform: translateY(4px);
}

button:disabled {
    color: lightgrey;
}

#textField {

}

table {
    width: 100%;
    border-collapse: collapse;
}
table tr, td {
    border: 1px lightgrey solid;
    padding: 8px;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
/*table td {*/
/*    padding: 8px;*/
/*}*/
.left {
    text-align: left;
}
.right {
    display: inline-block;
    float: right;
    text-align: right;
}